@import '';

/* _content/BlazeCommerce/Shared/MainLayout.razor.rz.scp.css */
.page[b-suru86w3xg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-suru86w3xg] {
    flex: 1;
}

.sidebar[b-suru86w3xg] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-suru86w3xg] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-suru86w3xg]  a, .top-row .btn-link[b-suru86w3xg] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-suru86w3xg] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-suru86w3xg] {
        display: none;
    }

    .top-row.auth[b-suru86w3xg] {
        justify-content: space-between;
    }

    .top-row a[b-suru86w3xg], .top-row .btn-link[b-suru86w3xg] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-suru86w3xg] {
        flex-direction: row;
    }

    .sidebar[b-suru86w3xg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-suru86w3xg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-suru86w3xg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazeCommerce/Shared/Sidebar.razor.rz.scp.css */

/* The side navigation menu */
.sidenav[b-ach33oed9f] {
    height: 100%; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a[b-ach33oed9f] {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover[b-ach33oed9f] {
        color: #f1f1f1;
    }

/* Position and style the close button (top right corner) */
.sidenav .closebtn[b-ach33oed9f] {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main[b-ach33oed9f] {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav[b-ach33oed9f] {
        padding-top: 15px;
    }

        .sidenav a[b-ach33oed9f] {
            font-size: 18px;
        }
}

