<div class="row bg-theme-primary p-4">
    <div class="col-2"> <label class="text-light">BlazeCommerce</label></div>
    <div class="col-2"><button class="btn btn-secondary">Select your address</button></div>
    <div class="col-6"> <input class="form-control" /></div>
    <div class="col-2"> <button class="btn btn-secondary">Cart</button></div>
</div>

@code {

}
