<div class="row bg-theme-primary p-4">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6 mb-2"> <label class="text-light">BlazeCommerce</label></div>

    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 mb-2 text-right">
        <button class="btn btn-outline-primary">
            <span class="oi oi-map-marker"></span>&nbsp;Select your address
        </button>
    </div>

    <div class="col-xl-5 col-lg-5 col-md-4 col-sm-6 col-6 mb-2"> <input class="form-control" /></div>


    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6 mb-2 text-right">
        <button class="btn btn-outline-primary">
            <span class="oi oi-cart"></span>&nbsp;Cart
        </button>
    </div>
</div>

@code {

}
